<div class="employee-add">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            Adding new record
        </h3>
    </div>
    <div class="modal-body" id="modal-body" style="height: 600px;">
        <form name="addForm" class="col-md-6" ng-submit="addForm.$valid && vm.addRecord()" required novalidate>
            <div class="form-group">
                <label for="first_name">
                    First name
                </label>
                <input name="first_name" type="text" class="form-control" id="first_name" ng-model="vm.add.first_name" ng-value="vm.add.first_name" placeholder="First name" required />
                <div ng-show="addForm.first_name.$touched || addForm.$submitted">
                    <div ng-show="addForm.first_name.$error.required">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Please fill in their first name
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="last_name">
                    Last name
                </label>
                <input name="last_name" type="text" ng-model="vm.add.last_name" ng-value="vm.add.last_name" class="form-control" id="last_name" placeholder="Last name" required />
                <div ng-show="addForm.last_name.$touched || addForm.$submitted">
                    <div ng-show="addForm.last_name.$error.required">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Please fill in their last name
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender">
                    Gender
                </label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="gender" class="form-check-input" type="radio" id="gender-m" ng-checked="vm.add.gender == 'M'" ng-model="vm.add.gender"
                            value="M" required /> Male
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="gender" class="form-check-input" type="radio" id="gender-f" ng-checked="vm.add.gender == 'F'" ng-model="vm.add.gender"
                            value="F" required /> Female
                    </label>
                </div>
                <div ng-show="addForm.gender.$touched || addForm.$submitted">
                    <div ng-show="addForm.gender.$error.required">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Please fill in their gender
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="birth_date">Birthday</label>
                <input name="birth_date" type="text" class="form-control" id="birth_date" ng-model="vm.add.birth_date" ng-value="vm.add.birth_date" required />
                <div ng-show="addForm.birth_date.$touched || addForm.$submitted">
                    <div ng-show="addForm.birth_date.$error.required">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Please fill in their birthday
                    </div>
                </div>
            </div>
            <div class="form-group hire_date">
                <label for="hire_date">Hire date</label>
                <input name="hire_date" type="text" class="form-control" id="hire_date" ng-model="vm.add.hire_date" ng-value="vm.add.hire_date" required />
                <div ng-show="addForm.hire_date.$touched || addForm.$submitted">
                    <div ng-show="addForm.hire_date.$error.required">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Please fill in their date when they were hired
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="photourl">Avatar URL</label>
                <input name="photourl" class="form-control" type="text" id="photourl" ng-model="vm.add.photourl" ng-value="vm.add.photourl" placeholder="Photo URL" />
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    Create new record
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="vm.autoFillDummy()">
            Auto-fill dummy record
        </button>
        <button type="button" class="btn btn-secondary" ng-click="vm.clearDummy()">
            Clear dummy record
        </button>
    </div>
</div>