<div class="container" ng-cloak>
    <div class="jumbotron">
        <form name="vm.searchForm" ng-submit="vm.searchEmployees()">
            <div class="form-group col-md-6 keyword">
                <input type="text" class="form-control" ng-model="vm.searchKeyword" placeholder="Search by first name, e.g. Kenneth" />
            </div>
            <button type="submit" class="btn btn-success">
                Submit
            </button>
            <button type="button" class="btn btn-info" ng-click="vm.addEmployee()">
                Add an employee via a modal
            </button>
        </form>
    </div>
    <hr />
    <div class="container list" ng-show="vm.employees">
        <h2 class="row">Results</h2>
        <!-- Pagination -->
        <div class="row" ng-show="vm.employees.length > 0">
            <div class="col-sm-12 col-md-12 col-lg-12 list header">
                <ul uib-pagination total-items="vm.pages.totalItems" ng-model="vm.pages.currentPage" items-per-page="vm.pages.itemsPerPage"
                    class="pagination-sm" max-size="vm.pages.maxsize" boundary-link-numbers="true" rotate="false" ng-change="vm.pages.changed()">
                </ul>
            </div>
        </div>
        <!-- End: Pagination -->
        <div class="row">
            <h3 class="alert alert-info" ng-show="vm.searched">{{vm.searchedSummary}}</h3>
            <hr ng-show="vm.searched" />
            <div class="col-sm-4 col-md-4 col-lg-3 employee" ng-repeat="employee in vm.employees">
                <div class="row" style="margin-bottom: 50px;">
                    <img class="employee-avatar" src="{{employee.photourl}}" alt="Profile picture of {{employee.first_name}} {{employee.last_name}}" style="width: 100px;"
                    />
                    <h4>ID: {{employee.emp_no}}</h4>
                    <h4>First name: {{employee.first_name}}</h4>
                    <h4>Last name: {{employee.last_name}}</h4>
                    <h4>DOB: {{employee.birth_date | date: medium}}</h4>
                    <h4>Gender: {{employee.gender}}</h4>
                    <h4>Date of hire: {{employee.hire_date | date: long}}</h4>
                    <button class="btn btn-primary" type="button" ng-click="vm.editEmployee(employee)">
                        Edit
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="vm.deleteEmployee(employee)">
                        Delete
                    </button>
                </div>
            </div>
            <!-- Pagination -->
            <div class="row" ng-show="vm.employees.length > 0">
                <hr />
                <div class="col-sm-12 col-md-12 col-lg-12 list header">
                    <ul uib-pagination total-items="vm.pages.totalItems" ng-model="vm.pages.currentPage" items-per-page="vm.pages.itemsPerPage"
                        class="pagination-sm" max-size="vm.pages.maxsize" boundary-link-numbers="true" rotate="false" ng-change="vm.pages.changed()">
                    </ul>
                </div>
            </div>
            <!-- End: Pagination -->
        </div>
    </div>
</div>